P{
	font-size:20px;
	font-family:"calibri";
	text-align:justify;
}
body{
	background: rgb(34,193,195);
background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(172,120,109,0.9920343137254902) 100%);
     
    }
h1{
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(172,120,109,0.9920343137254902) 100%);
	color:#000000;
	text-align:center;
    border-radius: 20px;
    font-family: "algerian";
    border-style: groove;
    
	
     }
foot{
	background-color:#130e0a;
   }

*{
    padding: 5px;
    margin: 0px;
}
#header{
    margin: auto;
    width: 900px;
}
ul, ol{
    list-style: none;
}
.nav li a{
    background: rgb(182, 152, 169);
    font-family: "Arial black";
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    display: block;
    border-style: outset;
    border-radius: 10px;
}
.nav > li{
    float: left;
}
.nav li a:hover{
    background-color: #696666;
}